@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/*estilo cabeçalho*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    
}

.container1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #ffffff;
    

}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: -15px;
    background-color: #ffffff;
    width: 100%;
    height: 70px;    
    justify-content: space-between; /* Distribui o espaço igualmente entre os elementos */
    align-items: center; /* Alinha os itens verticalmente ao centro */

    
    
}


#product-image {
    width: 70px;
    margin-right: -100px; /* Adiciona um espaçamento entre a imagem e o texto */
    text-align: left;
    margin-left: -1400px;
    margin-top: -75px;
    margin-bottom: 10px;

}

.product-title {
    font-size: 30px;
    text-align: left;
    justify-content: flex-start; /* Alinha o conteúdo para o início */
    margin-bottom: 20px;
    text-align: left;
    margin-left: -950PX;
    font-family: 'Open Sans', sans-serif;
    
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: -50px;
    background-color: #ffffff;
}

.navigation li {
    display: inline;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 400px;
    background-color: #ffffff;
}

.navigation a {
    text-decoration: solid;
    color: #333;
}

.navigation a:hover {
    color: #128010; /* Cor do link ao passar o mouse */
}



.destaques li{
    margin: 0;
    padding: 0;
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    justify-content: flex-start; /* Alinha o conteúdo para o início */
    margin-bottom: 20px;
    margin-left: -400px;
    margin-top: -800px;
    margin-right: 30px;
    
    
}

.servicos li {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    justify-content: flex-start; /* Alinha o conteúdo para o início */
    margin-bottom: 20px;
    margin-left: -200px;
    margin-top: -100px;
    margin-right: -50px;

}



.sobre li {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    justify-content: flex-start; /* Alinha o conteúdo para o início */
    margin-bottom: 20px;
    margin-left: 60px;
    margin-top: -37px;
    margin-right: -5px;
}

.clientes li {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    justify-content: flex-start; /* Alinha o conteúdo para o início */
    margin-bottom: 20px;
    margin-left: 250px;
    margin-top: -37px;
    margin-right: -5px;
}

.contatos li{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    justify-content: flex-start; /* Alinha o conteúdo para o início */
    margin-bottom: 20px;
    margin-left: 450px;
    margin-top: -37px;
    margin-right: -2px;
}





.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #333;
    box-shadow: 0 0 0 2px rgb(29, 243, 83);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    margin-left: 1200px;
    margin-top: -50px;
    margin-bottom: 30px;
    margin-top: -70px;
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: rgb(0, 163, 0);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: rgb(38, 181, 43);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
    fill: #212121;
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px rgb(47, 203, 255);
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }

  /*fim do estilo do cabeçalho*/








/*inicio do estilo do corpo/banner*/

.banner {
    background-image: url('https://img.freepik.com/vetores-gratis/papel-de-parede-geometrico-abstrato-verde_52683-29623.jpg?t=st=1714468054~exp=1714471654~hmac=46a274c0efdce9dbd2d297a372d3e99bb8a9d83493d86c400fb41e7d753c2279&w=996'); /* Substitua pelo caminho correto para a imagem de fundo */
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
    margin-top: -15px;
}

.titulo_banner {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #fff;
    margin-top: 20px;
    margin-left: -700px;
}

.sub_titulo_banner {
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 20px;
    margin-top: -10px;
    margin-left: -700px;
    margin-right: -90px;
    color: #ccc;
}

.sub_titulo_banner2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: -10px;
    margin-left: -700px;
    margin-right: 90px;
    color: #ccc;
}

.texto_banner {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 100px;
    margin-left: -700px;
    margin-right: 130px;
    color: #ccc;
}


.texto_banner2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: -30px;
  margin-left: -700px;
  margin-right: 100px;
  color: #ccc;
}

.celular_modelo {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
    margin-top: -350px;
    margin-left: 700px;
}

.botao_banner {
    background-color: #ff1e1e;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -1000px;
    margin-left: -1000px;
}

.botao_banner:hover {
    background-color: #e68a00;
}


/*fim do estilo do corpo/banner*/









/*inicio do estilo de sessao sobre a empresa*/

.company-image {
  float: left;
  margin-right: 20px;
  border-radius: 50%; /* Define a imagem como redonda */
  overflow: hidden; /* Garante que a imagem fique dentro do contorno redondo */
}

.company-image img {
  width: 200px; /* Ajuste o tamanho da imagem conforme necessário */
  height: auto;
}

/* Restante dos estilos */
.container2 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  
}

.our-company h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.our-company p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 20px;
}


/*fim do estilo de sessao sobre a empresa*/









/*inicio do estilo de sessao destaques*/

/* Estilos para a seção de destaques */
#destaques {
    background-color: #ffefef;
    padding: 50px 0;
}

.container3 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.texto-destaques {

    padding-right: 20px;
    margin-left: 600px;
    margin-top: -30px;
}

.titulo_destaques {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.texto_destaques1,
.texto_destaques2,
.texto_destaques3 {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 15px;
}

.texto_destaques2 strong,
.texto_destaques3 strong {
    color: #009688;
}


.tela_destaques {
   width: 350px;
    margin-left: -1200px;
    margin-top: -30px;
}

.card {
    width: 300px;
    height: 200px;
    background-color: #00990f;
    background-image: linear-gradient(43deg, #00db0f 0%, #7ad854 46%, #159502 100%);
    border-radius: 8px;
    color: white;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
  }
  
  .card-content {
    padding: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  
  .card-content .card-title {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
  }
  
  .card-content .card-para {
    color: inherit;
    opacity: 0.8;
    font-size: 14px;
  }
  
  .card:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
  
  .card:hover:before {
    transform: translateX(-100%);
  }
  
  .card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
  
  .card:hover:after {
    transform: translateX(100%);
  }

  

  .card2 {
    width: 300px;
    height: 200px;
    background-color: #0ac000;
    background-image: linear-gradient(43deg, #39f543 0%, #00af23 46%, #00fc54 100%);
    border-radius: 8px;
    color: white;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
    margin-left: 300px;
  }
  
  .card-content2 {
    padding: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  
  .card-content2 .card-title2 {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
  }
  
  .card-content2 .card-para2 {
    color: inherit;
    opacity: 0.8;
    font-size: 14px;
  }
  
  .card2:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
  
  .card2:hover:before {
    transform: translateX(-100%);
  }
  
  .card2:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
  
  .card2:hover:after {
    transform: translateX(100%);
  }
  
  

/*fim do estilo de sessao destaques*/









/*inicio do estilo de sessao servicos*/

#servicos {
    background-color: #ffefef; /* Cor de fundo branca */
    padding: 50px 0;
    text-align: center;
}

.container4 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
    
}

.titulo_servicos {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.servico1,
.servico2,
.servico3 {
    margin-bottom: 40px; /* Espaçamento entre os serviços */
}

.servico1 h3,
.servico2 h3,
.servico3 h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.servico1 p,
.servico2 p,
.servico3 p {
    font-size: 16px;
    color: #555;
}

.card1 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid transparent; /* Alterado para transparent para evitar o efeito de pulo */
  transition: border-color 0.5s ease-out; /* Alterado para border-color para suavizar a transição */
  overflow: visible;
  text-align: left;
  margin-top: 100px;
  margin-left: -150px;
}

.card1:hover {
  border-color: #d30000; /* Alterado para a cor desejada ao passar o mouse */
}


 .card-servicos2 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  text-align: left;
  margin-top: -350px;
  margin-left: 500px;
 }

 .card-servicos2:hover {
  border-color: #d30000; /* Alterado para a cor desejada ao passar o mouse */
}



 .card-servicos3 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  text-align: left;
  margin-top: 100px;
  margin-left: 500px;
 }

 .card-servicos3:hover {
  border-color: #d30000; /* Alterado para a cor desejada ao passar o mouse */
}




 .card-servicos4 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  text-align: left;
  margin-top: -360px;
  margin-left: -150px;
 }

 .card-servicos4:hover {
  border-color: #d30000; /* Alterado para a cor desejada ao passar o mouse */
}




 
 .card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
 }
 
 .button-card{
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 
 .text-body {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title {
  font-size: 1.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 .card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }

/*fim do estilo de sessao servicos*/






/*inicio do estilo de sessao planos*/

.container5 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.plan {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
  padding: 10px;
  background-color: #fff;
  color: #697e91;
  max-width: 300px;
}

.plan strong {
  font-weight: 600;
  color: #425275;
}

.plan .inner {
  align-items: center;
  padding: 20px;
  padding-top: 40px;
  background-color: #ecf0ff;
  border-radius: 12px;
  position: relative;
}

.plan .pricing {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bed6fb;
  border-radius: 99em 0 0 99em;
  display: flex;
  align-items: center;
  padding: 0.625em 0.75em;
  font-size: 1.25rem;
  font-weight: 600;
  color: #425475;
}

.plan .pricing small {
  color: #707a91;
  font-size: 0.75em;
  margin-left: 0.25em;
}

.plan .title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #425675;
}

.plan .title + * {
  margin-top: 0.75rem;
}

.plan .info + * {
  margin-top: 1rem;
}

.plan .features {
  display: flex;
  flex-direction: column;
}

.plan .features li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.plan .features li + * {
  margin-top: 0.75rem;
}

.plan .features .icon {
  background-color: #1FCAC5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.plan .features .icon svg {
  width: 14px;
  height: 14px;
}

.plan .features + * {
  margin-top: 1.25rem;
}

.plan .action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.plan .button {
  background-color: #6558d3;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 0.625em 0.75em;
  text-decoration: none;
}

.plan .button:hover, .plan .button:focus {
  background-color: #4133B7;
}

#planos {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.titulo_planos {
  text-align: center;
  margin-bottom: 30px;
}

.plano {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.plano h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.plano p {
  font-size: 18px;
  margin-bottom: 10px;
}

/*fim do estilo de sessao planos*/










/*inicio sessao clientes*/

.container6 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  
}

#clientes {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.titulo_clientes {
  text-align: center;
  font-size: 28px;
  color: #333;
  margin-bottom: 30px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  margin-bottom: 30px;
}

.slide {
  flex: 0 0 auto;
  margin: 0 10px;
  text-align: center;
}

.slide img {
  width: 150px; /* Ajuste o tamanho conforme necessário */
  height: auto;
  border-radius: 50%; /* Define as imagens como redondas */
}

.slide p {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}

#antes {
  cursor: pointer;
  background-color: #008bf8;

}

#depois {
  cursor: pointer;
  background-color: #008bf8;
}

/*fim do estilo de sessao clientes*/



/*inicio sessao contato*/

.button-instagram {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: black;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.button-instagram span {
  margin: 10px;
}

.button-instagram::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.button-instagram:hover {
  color: #fff;
  border: 1px solid black;
}

.button-instagram:hover::before {
  box-shadow: inset 0 0 0 10em black;
}




.button-whatsapp {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 3.3em 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

.button-whatsapp > svg {
  height: 30px;
  position: absolute;
  padding: 0px 5px;
  margin-top: -4px;
}

.button-whatsapp:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}

 .button-whatsapp:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button-whatsapp:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button-whatsapp:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button-whatsapp
:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button-whatsapp:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.gmail {
  margin-top: -.9em;
  margin-left: -1.2em;
  fill: #f14336;
}




.container7 {
  max-width: 800px;max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
 
}

#informations {
  background-color: #f2f2f2;
  padding: 50px 0;
}

#informations h2 {
  text-align: center;
  margin-bottom: 30px;
}

#informations ul {
  list-style: none;
  text-align: center;
}

#informations li {
  margin-bottom: 20px;
}

#informations a {
  display: inline-block;
  margin: 0 10px;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

#informations a:hover {
  color: #008CBA;
}
/*fim do estilo de sessao contato*/



/*inicio do estilo de sessao footer*/

.container8 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links ul,
.politicas ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.links ul li,
.politicas ul li {
  display: inline;
  margin-right: 20px;
}

.links ul li:last-child,
.politicas ul li:last-child {
  margin-right: 0;
}

.links ul li a,
.politicas ul li a {
  color: #fff;
  text-decoration: none;
}

.links ul li a:hover,
.politicas ul li a:hover {
  color: #ccc;
}

.copyright p {
  margin: 0;
}


/*fim do estilo de sessao footer*/