@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/*estilo cabeçalho*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: -15px;
    background-color: #ffffff;
    width: 100%;
    height: 70px;    
    justify-content: space-between; /* Distribui o espaço igualmente entre os elementos */
    align-items: center; /* Alinha os itens verticalmente ao centro */

    
    
}


#product-image {
    width: 70px;
    margin-right: -100px; /* Adiciona um espaçamento entre a imagem e o texto */
    text-align: left;
    margin-left: -1400px;
    margin-top: -75px;
    margin-bottom: 10px;

}

.product-title {
    font-size: 30px;
    text-align: left;
    justify-content: flex-start; /* Alinha o conteúdo para o início */
    margin-bottom: 20px;
    text-align: left;
    margin-left: -950PX;
    font-family: 'Open Sans', sans-serif;
    
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: -50px;
}

.navigation li {
    display: inline;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 400px;
}

.navigation a {
    text-decoration: none;
    color: #333;
}

.navigation a:hover {
    color: #009688; /* Cor do link ao passar o mouse */
}



.destaques li{
    margin: 0;
    padding: 0;
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    justify-content: flex-start; /* Alinha o conteúdo para o início */
    margin-bottom: 20px;
    margin-left: -400px;
    margin-top: -800px;
    margin-right: 30px;
    
    
}

.servicos li {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    justify-content: flex-start; /* Alinha o conteúdo para o início */
    margin-bottom: 20px;
    margin-left: -200px;
    margin-top: -100px;
    margin-right: -50px;

}



.sobre li {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    justify-content: flex-start; /* Alinha o conteúdo para o início */
    margin-bottom: 20px;
    margin-left: 60px;
    margin-top: -37px;
    margin-right: -5px;
}

.clientes li {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    justify-content: flex-start; /* Alinha o conteúdo para o início */
    margin-bottom: 20px;
    margin-left: 250px;
    margin-top: -37px;
    margin-right: -5px;
}

.contatos li{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    justify-content: flex-start; /* Alinha o conteúdo para o início */
    margin-bottom: 20px;
    margin-left: 450px;
    margin-top: -37px;
    margin-right: -2px;
}





.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: rgb(224, 12, 12);
    box-shadow: 0 0 0 2px rgb(29, 243, 83);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    margin-left: 1200px;
    margin-top: -50px;
    margin-bottom: 30px;
    margin-top: -70px;
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: rgb(0, 163, 0);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: rgb(38, 181, 43);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
    fill: #212121;
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px rgb(47, 203, 255);
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }

  /*fim do estilo do cabeçalho*/








/*inicio do estilo do corpo/banner*/


.banner {
    background-image: url('https://img.freepik.com/vetores-gratis/papel-de-parede-geometrico-abstrato-verde_52683-29623.jpg?w=996&t=st=1713486683~exp=1713487283~hmac=94397bec79c22434363e3738d6405cfb2eb4ace1d86624d657ea55f95830f35f'); /* Substitua pelo caminho correto para a imagem de fundo */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    margin-top: -15px;
}

.titulo_banner {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #fff;
    margin-top: 20px;
    margin-left: -700px;
}

.sub_titulo_banner {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: -700px;
    color: #ccc;
}

.sub_titulo_banner2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: -700px;
    color: #ccc;
}

.texto_banner {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: -700px;
    color: #ccc;
}

.celular_modelo {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
    margin-top: -350px;
    margin-left: 600px;
}

.botao_banner {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -350px;
    margin-left: -1000px;
}

.botao_banner:hover {
    background-color: #e68a00;
}


/*fim do estilo do corpo/banner*/








/*inicio do estilo de sessao destaques*/

/* Estilos para a seção de destaques */
#destaques {
    background-color: #f9f9f9;
    padding: 50px 0;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.texto-destaques {

    padding-right: 20px;
    margin-left: 600px;
    margin-top: -30px;
}

.titulo_destaques {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.texto_destaques1,
.texto_destaques2,
.texto_destaques3 {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 15px;
}

.texto_destaques2 strong,
.texto_destaques3 strong {
    color: #009688;
}


.tela_destaques {
   width: 350px;
   
    
    margin-left: -1200px;
    margin-top: -30px;
}

.card {
    width: 300px;
    height: 200px;
    background-color: #00990f;
    background-image: linear-gradient(43deg, #00db0f 0%, #7ad854 46%, #159502 100%);
    border-radius: 8px;
    color: white;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
  }
  
  .card-content {
    padding: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  
  .card-content .card-title {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
  }
  
  .card-content .card-para {
    color: inherit;
    opacity: 0.8;
    font-size: 14px;
  }
  
  .card:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
  
  .card:hover:before {
    transform: translateX(-100%);
  }
  
  .card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
  
  .card:hover:after {
    transform: translateX(100%);
  }

  

  .card2 {
    width: 300px;
    height: 200px;
    background-color: #0ac000;
    background-image: linear-gradient(43deg, #39f543 0%, #00af23 46%, #00fc54 100%);
    border-radius: 8px;
    color: white;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
    margin-left: 300px;
  }
  
  .card-content2 {
    padding: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  
  .card-content2 .card-title2 {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
  }
  
  .card-content2 .card-para2 {
    color: inherit;
    opacity: 0.8;
    font-size: 14px;
  }
  
  .card2:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
  
  .card2:hover:before {
    transform: translateX(-100%);
  }
  
  .card2:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
  
  .card2:hover:after {
    transform: translateX(100%);
  }
  
  
  
  
  
  


/*fim do estilo de sessao destaques*/









/*inicio do estilo de sessao servicos*/

/* Estilos para a seção de serviços */
#servicos {
    background-color: #fff; /* Cor de fundo branca */
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.titulo_servicos {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.servico1,
.servico2,
.servico3 {
    margin-bottom: 40px; /* Espaçamento entre os serviços */
}

.servico1 h3,
.servico2 h3,
.servico3 h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.servico1 p,
.servico2 p,
.servico3 p {
    font-size: 16px;
    color: #555;
}



.card1 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  text-align: left;
 }

 .card-servicos2 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  text-align: left;
 }


 .card-servicos3 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  text-align: left;
 }



 .card-servicos4 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  text-align: left;
 }



 
 .card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
 }
 
 .card-button{
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 
 .text-body {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title {
  font-size: 1.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 .card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }

/*fim do estilo de sessao servicos*/












